// Farbpalette & Design-Variablen

$color-primary: #303131;
$color-secondary: #f0ea6e;
$color-background: #1e2a38;
$color-card-back: #2f4156;
$color-card-front: #ffffff;
$color-text: #f5f5f5;
$color-text-two: black;

// Schriftfamilien
$font-heading: "Almarai", system-ui, sans-serif;
$font-body: "Red Rose", system-ui, sans-serif;
